<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>jeremywho</string>
	<key>Builder Version</key>
	<string>7534.53.10</string>
	<key>CFBundleDisplayName</key>
	<string>Take Me To Your Reddit</string>
	<key>CFBundleIdentifier</key>
	<string>com.jeremywho.takemetoyourreddit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>tmtyr</string>
				<key>Identifier</key>
				<string>tmtyr</string>
				<key>Image</key>
				<string>icon.png</string>
				<key>Label</key>
				<string>Take Me To Your Reddit</string>
				<key>Palette Label</key>
				<string>TMTYR</string>
				<key>Tool Tip</key>
				<string>Take Me To Your Reddit</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>go to the reddit comments for a given imgur link</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.imgur.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/jeremywho/take_me_to_your_reddit</string>
</dict>
</plist>
